---
import { Image } from "astro:assets";
export interface Props {
  logoHref: string;
  logoSrc: string;
  logoAlt: string;
  logoTitle?: string;
  height: number;
}

const { logoHref, logoSrc, logoAlt, logoTitle, height } = Astro.props;
---

<nav
  class="navbar bg-white shadow-lg fixed top-0 left-0 right-0 h-16 px-4 flex justify-between items-center z-50"
>
  <a href={logoHref} class="flex items-center">
    <!-- @ts-ignore -->
    <Image src={logoSrc} alt={logoAlt} height={height} />
    {logoTitle && <span class="ml-4 text-xl">{logoTitle}</span>}
  </a>
  <div class="navbar-links flex justify-end items-center gap-8">
    <slot />
  </div>
</nav>

<style>
  :global(.navbar-links a) {
    color: #000;
  }
</style>
